## 1. Import necesary libraries

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

## 2. Reading TMDB 5000 movies data

In [2]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

## 3(a). EDA - Printing Head of the data.

In [3]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

## 3(b). EDA - Merging two dataframes (movies & credits) on title

In [5]:
print(movies.shape)
print(credits.shape)

(4803, 20)
(4803, 4)

In [6]:
movies = movies.merge(credits, on='title')

In [7]:
print(movies.shape)

(4809, 23)

In [8]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

## 3(c). EDA - Keep only 'movie_id','title', 'overview', 'genres', 'keywords', 'cast', 'crew' as these are relevant while making recommendation

In [9]:
movies = movies[['movie_id','title', 'overview', 'genres', 'keywords', 'cast', 'crew']]

In [10]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

## 3(d). EDA - Dropping null value rows

In [11]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [12]:
movies = movies.dropna()

In [13]:
movies.isna().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [14]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

## 3(e). EDA - Extract only values from the key-value pair of the "genres", "keywords" , "cast", "crew" columns.

In [15]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [16]:
# '[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'
# We will extract values from the above key-value pair dictionary.

['Action', 'Adventure', 'Fantasy', 'SciFi']

['Action', 'Adventure', 'Fantasy', 'SciFi']

# 3(e). EDA - Write a function named as "convert" that takes a single argument obj and converts a string representation of a "list of dictionaries" into a "list of names" extracted from those dictionaries.

In [17]:
# This function is gonna extract key pair value of given object
import ast
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [18]:
# Testing the custom function "convert"
convert('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

# 3(e). EDA - Apply the custom function to "genres" and "keywords" columns.

In [19]:
movies['genres'] = movies['genres'].apply(convert)

In [20]:
movies['keywords'] = movies['keywords'].apply(convert)

# 3(f). EDA - Write a function named as "convert3" that takes a single argument obj and converts a string representation of a "list of dictionaries" into a "list of names" extracted from those dictionaries.

In [21]:
# This function is gonna extract key pair value of given object
import ast
def convert3(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3:
            L.append(i['name'])
            counter += 1
        else:
            break
    return L

In [22]:
movies['cast'].apply(convert3)

0        [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1           [Johnny Depp, Orlando Bloom, Keira Knightley]
2            [Daniel Craig, Christoph Waltz, Léa Seydoux]
3            [Christian Bale, Michael Caine, Gary Oldman]
4          [Taylor Kitsch, Lynn Collins, Samantha Morton]
                              ...
4804    [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4805         [Edward Burns, Kerry Bishé, Marsha Dietlein]
4806           [Eric Mabius, Kristin Booth, Crystal Lowe]
4807            [Daniel Henney, Eliza Coupe, Bill Paxton]
4808    [Drew Barrymore, Brian Herzlinger, Corey Feldman]
Name: cast, Length: 4806, dtype: object

In [23]:
movies['cast'] = movies['cast'].apply(convert3)

# 3(g). EDA - Write a function named as "fetch_director" that will extract name of directors from the "crew" column.

In [24]:
# This function is gonna extract key pair value of given object
import ast
def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [25]:
movies['crew'].apply(fetch_director)

0           [James Cameron]
1          [Gore Verbinski]
2              [Sam Mendes]
3       [Christopher Nolan]
4          [Andrew Stanton]
               ...
4804     [Robert Rodriguez]
4805         [Edward Burns]
4806          [Scott Smith]
4807          [Daniel Hsia]
4808     [Brian Herzlinger]
Name: crew, Length: 4806, dtype: object

In [26]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [27]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [28]:
movies['overview']

0       In the 22nd century, a paraplegic Marine is di...
1       Captain Barbossa, long believed to be dead, ha...
2       A cryptic message from Bond’s past sends him o...
3       Following the death of District Attorney Harve...
4       John Carter is a war-weary, former military ca...
                              ...
4804    El Mariachi just wants to play his guitar and ...
4805    A newlywed couple's honeymoon is upended by th...
4806    "Signed, Sealed, Delivered" introduces a dedic...
4807    When ambitious New York attorney Sam is sent t...
4808    Ever since the second grade when he first saw ...
Name: overview, Length: 4806, dtype: object

# 3(h). EDA - The "apply" method in below is used to apply a function to each element of a pandas Series or DataFrame. In this case, the lambda function is used to "split each string" in the 'overview' column into a list of words.

In [29]:
movies['overview'].apply(lambda x:x.split())

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bond’s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4804    [El, Mariachi, just, wants, to, play, his, gui...
4805    [A, newlywed, couple's, honeymoon, is, upended...
4806    ["Signed,, Sealed,, Delivered", introduces, a,...
4807    [When, ambitious, New, York, attorney, Sam, is...
4808    [Ever, since, the, second, grade, when, he, fi...
Name: overview, Length: 4806, dtype: object

In [30]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [31]:
movies.head(3)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]

# 3(i). EDA - Now we have to remove space of any individual's name. for example, "Sam Worthington" should be converted to "SamWorthington"

In [32]:
movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])

0       [Action, Adventure, Fantasy, ScienceFiction]
1                       [Adventure, Fantasy, Action]
2                         [Action, Adventure, Crime]
3                   [Action, Crime, Drama, Thriller]
4                [Action, Adventure, ScienceFiction]
                            ...
4804                       [Action, Crime, Thriller]
4805                               [Comedy, Romance]
4806               [Comedy, Drama, Romance, TVMovie]
4807                                              []
4808                                   [Documentary]
Name: genres, Length: 4806, dtype: object

In [33]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])

In [34]:
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])

In [35]:
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])

In [36]:
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [37]:
movies.head(3)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]

# 3(j). EDA - Add a new column named 'tag' to a pandas DataFrame named movies. The 'tag' column is created by concatenating values from several other columns in the DataFrame, namely 'overview', 'genres', 'keywords', 'cast', and 'crew'.

In [38]:
movies['tag'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [39]:
movies.head(3)

,movie_id,title,overview,genres,keywords,cast,crew,tag
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."

# 3(k). EDA - Make a new final dataframe using "movie_id", "title" and "tag" columns.

In [40]:
new_df = movies[['movie_id', 'title', 'tag']]

In [41]:
new_df['tag'] = new_df['tag'].apply(lambda x: " ".join(x))

In [42]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4806 entries, 0 to 4808
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4806 non-null   int64
 1   title     4806 non-null   object
 2   tag       4806 non-null   object
dtypes: int64(1), object(2)
memory usage: 150.2+ KB

In [43]:
new_df['tag'][2]

'A cryptic message from Bond’s past sends him on a trail to uncover a sinister organization. While M battles political forces to keep the secret service alive, Bond peels back the layers of deceit to reveal the terrible truth behind SPECTRE. Action Adventure Crime spy basedonnovel secretagent sequel mi6 britishsecretservice unitedkingdom DanielCraig ChristophWaltz LéaSeydoux SamMendes'

# 3(l). EDA - Make the characters lower of the tag column

In [44]:
new_df['tag'] = new_df['tag'].apply(lambda x:x.lower())

In [45]:
# Check if characters are lowered or not.
new_df['tag'][0]

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver jamescameron'

In [46]:
new_df['tag'][1]

"captain barbossa, long believed to be dead, has come back to life and is headed to the edge of the earth with will turner and elizabeth swann. but nothing is quite as it seems. adventure fantasy action ocean drugabuse exoticisland eastindiatradingcompany loveofone'slife traitor shipwreck strongwoman ship alliance calypso afterlife fighter pirate swashbuckler aftercreditsstinger johnnydepp orlandobloom keiraknightley goreverbinski"

## Now we have to calculate similarities between two tags

# 4. Covert value of "tag" columns into "vectors"

In [47]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english') ## Here, 5000 is the most used words

In [48]:
vectors = cv.fit_transform(new_df['tag']).toarray()

In [49]:
vectors.shape

(4806, 5000)

In [50]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

## 5. We will use nltk (Natural Language Tool Kit) library for removing repeatation of similar words. Like, "action", "actions" both are similar word, but till now our program is considering "action" and "actions" as two different features. We will use stem for making it single feature

In [51]:
import nltk

In [52]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [53]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    
    return " ".join(y)

In [54]:
ps.stem('loved')

'love'

In [55]:
ps.stem('loving')

'love'

In [56]:
ps.stem('love')

'love'

In [57]:
ps.stem('dancing')

'danc'

In [58]:
stem('in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver jamescameron')

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jamescameron'

In [59]:
new_df['tag'] = new_df['tag'].apply(stem)

# 6. Again Make the vector using our "stemmed" words

In [60]:
vectors = cv.fit_transform(new_df['tag']).toarray()

In [61]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [62]:
cv.vocabulary_

{'century': 740,
 'marin': 2806,
 'dispatch': 1288,
 'moon': 3017,
 'pandora': 3282,
 'uniqu': 4681,
 'mission': 2984,
 'becom': 442,
 'torn': 4554,
 'follow': 1729,
 'order': 3235,
 'protect': 3534,
 'alien': 157,
 'action': 79,
 'adventur': 106,
 'fantasi': 1629,
 'sciencefict': 3930,
 'cultureclash': 1087,
 'futur': 1807,
 'societi': 4153,
 'spacetravel': 4198,
 'futurist': 1809,
 'romanc': 3811,
 'space': 4192,
 'tribe': 4605,
 'alienplanet': 160,
 'soldier': 4160,
 'battl': 425,
 '3d': 47,
 'zoesaldana': 4994,
 'sigourneyweav': 4080,
 'jamescameron': 2325,
 'captain': 680,
 'long': 2695,
 'believ': 455,
 'dead': 1152,
 'ha': 1960,
 'come': 917,
 'life': 2647,
 'head': 2018,
 'edg': 1408,
 'earth': 1396,
 'turner': 4628,
 'elizabeth': 1436,
 'noth': 3172,
 'quit': 3572,
 'ocean': 3198,
 'drugabus': 1358,
 'exoticisland': 1571,
 'loveofone': 2729,
 'slif': 4132,
 'traitor': 4584,
 'shipwreck': 4056,
 'ship': 4055,
 'allianc': 167,
 'afterlif': 119,
 'fighter': 1680,
 'pirat': 3391,
 'aftercreditssting': 118,
 'johnnydepp': 2426,
 'orlandobloom': 3242,
 'keiraknightley': 2497,
 'goreverbinski': 1889,
 'messag': 2908,
 'bond': 545,
 'past': 3313,
 'send': 3990,
 'trail': 4581,
 'uncov': 4657,
 'sinist': 4102,
 'organization': 3239,
 'polit': 3428,
 'forc': 1737,
 'secret': 3962,
 'servic': 4010,
 'alive': 164,
 'deceit': 1168,
 'reveal': 3734,
 'terribl': 4462,
 'truth': 4621,
 'crime': 1059,
 'spi': 4214,
 'basedonnovel': 412,
 'secretag': 3963,
 'sequel': 3999,
 'britishsecretservic': 598,
 'danielcraig': 1113,
 'christophwaltz': 833,
 'sammend': 3886,
 'death': 1159,
 'district': 1291,
 'attorney': 345,
 'harvey': 2005,
 'batman': 424,
 'assum': 330,
 'respons': 3718,
 'late': 2586,
 'reput': 3703,
 'subsequ': 4334,
 'hunt': 2156,
 'gotham': 1894,
 'citi': 847,
 'polic': 3421,
 'year': 4972,
 'later': 2587,
 'encount': 1473,
 'mysteri': 3077,
 'kyle': 2561,
 'villain': 4778,
 'new': 3128,
 'terrorist': 4467,
 'leader': 2604,
 'overwhelm': 3262,
 'dark': 1122,
 'knight': 2541,
 'resurfac': 3725,
 'brand': 569,
 'enemy': 1481,
 'drama': 1338,
 'thriller': 4503,
 'dccomic': 1150,
 'crimefight': 1060,
 'secretident': 3965,
 'burglar': 638,
 'gothamc': 1895,
 'vigilant': 4774,
 'cover': 1034,
 'superhero': 4359,
 'terror': 4466,
 'destruct': 1225,
 'imax': 2195,
 'flood': 1718,
 'christianbal': 818,
 'michaelcain': 2922,
 'garyoldman': 1835,
 'christophernolan': 830,
 'john': 2414,
 'carter': 705,
 'war': 4830,
 'militari': 2953,
 'inexplic': 2228,
 'transport': 4589,
 'exot': 1570,
 'planet': 3399,
 'reluctantli': 3682,
 'embroil': 1451,
 'epic': 1506,
 'conflict': 962,
 'world': 4945,
 'brink': 595,
 'rediscov': 3653,
 'hi': 2054,
 'human': 2146,
 'realiz': 3626,
 'surviv': 4386,
 'peopl': 3344,
 'rest': 3719,
 'hands': 1973,
 'mar': 2798,
 'medallion': 2877,
 'princess': 3498,
 'steampunk': 4257,
 'martian': 2828,
 'escap': 1517,
 'superhumanstrength': 4361,
 '19thcenturi': 35,
 'samanthamorton': 3885,
 'seemingli': 3980,
 'spider': 4215,
 'man': 2782,
 'goe': 1880,
 'includ': 2212,
 'shape': 4039,
 'shift': 4054,
 'superpow': 4366,
 'alter': 174,
 'ego': 1420,
 'peter': 3358,
 'parker': 3298,
 'deal': 1156,
 'nemesi': 3118,
 'eddi': 1405,
 'caught': 725,
 'love': 2725,
 'triangle': 4604,
 'dualident': 1369,
 'amnesia': 198,
 'forgiv': 1748,
 'wretch': 4960,
 'deathofafriend': 1160,
 'sand': 3894,
 'hostil': 2129,
 'marvelcom': 2835,
 'reveng': 3737,
 'tobeymaguir': 4532,
 'kirstendunst': 2535,
 'jamesfranco': 2326,
 'samraimi': 3888,
 'kingdom': 2532,
 'bandit': 390,
 'rider': 3756,
 'hide': 2057,
 'tower': 4566,
 'taken': 4416,
 'hostag': 2127,
 'beauti': 435,
 'bound': 555,
 'teen': 4440,
 '70': 52,
 'feet': 1658,
 'golden': 1882,
 'hair': 1963,
 'look': 2698,
 'ticket': 4513,
 'lock': 2685,
 'away': 367,
 'years': 4974,
 'strike': 4309,
 'handsom': 1974,
 'thief': 4487,
 'unlik': 4689,
 'duo': 1376,
 'set': 4013,
 'pack': 3269,
 'complet': 944,
 'super': 4357,
 'cop': 1002,
 'gang': 1824,
 'pub': 3545,
 'anim': 229,
 'famili': 1617,
 'magic': 2765,
 'hors': 2121,
 'fairytal': 1606,
 'music': 3067,
 'duringcreditssting': 1378,
 'mandymoor': 2785,
 'toni': 4547,
 'stark': 4249,
 'tri': 4601,
 'program': 3519,
 'thing': 4489,
 'awri': 369,
 'hero': 2049,
 'ultim': 4647,
 'test': 4470,
 'fate': 1642,
 'hang': 1976,
 'aveng': 359,
 'stop': 4287,
 'plans': 3401,
 'soon': 4175,
 'unexpect': 4670,
 'way': 4856,
 'global': 1875,
 'adventure': 107,
 'basedoncomicbook': 410,
 'vision': 4793,
 'marvelcinematicunivers': 2834,
 'robertdowneyjr': 3785,
 'chrishemsworth': 812,
 'markruffalo': 2810,
 'harri': 1996,
 'begin': 451,
 'discov': 1277,
 'old': 3211,
 'book': 547,
 'mark': 2808,
 'properti': 3528,
 'half': 1965,
 'blood': 526,
 'prince': 3497,
 'learn': 2607,
 'lord': 2703,
 'witch': 4922,
 'broom': 608,
 'teenagecrush': 4442,
 'werewolf': 4873,
 'danielradcliff': 1115,
 'rupertgrint': 3850,
 'emmawatson': 1463,
 'fear': 1650,
 'god': 1879,
 'lik': 2655,
 'left': 2611,
 'city': 849,
 'modern': 3001,
 'day': 1146,
 'wrestl': 4958,
 'sort': 4181,
 'realli': 3627,
 'superman': 4362,
 'threat': 4500,
 'quickli': 3569,
 'mankind': 2791,
 'greater': 1915,
 'danger': 1111,
 'known': 2546,
 'benaffleck': 461,
 'zacksnyd': 4988,
 'return': 3731,
 'allow': 168,
 'walk': 4820,
 'free': 1779,
 'wa': 4810,
 'abandon': 56,
 'plot': 3412,
 'million': 2956,
 'kill': 2523,
 'chang': 752,
 'face': 1598,
 'forever': 1745,
 'rid': 3753,
 'steel': 4258,
 'savingtheworld': 3911,
 'kevinspacey': 2511,
 'katebosworth': 2484,
 'bryansing': 620,
 'continu': 989,
 'jame': 2322,
 'casino': 711,
 'betray': 479,
 'woman': 4927,
 '007': 1,
 'fight': 1679,
 'urg': 4714,
 'make': 2773,
 'latest': 2588,
 'pursu': 3558,
 'determin': 1229,
 'interrog': 2271,
 'mr': 3053,
 'white': 4887,
 'organ': 3238,
 'blackmail': 515,
 'far': 1632,
 'complex': 945,
 'anyon': 263,
 'imagined': 2194,
 'undercov': 4659,
 'marcforst': 2799,
 'jack': 2308,
 'work': 4940,
 'debt': 1163,
 'jones': 2440,
 'attempt': 340,
 'avoid': 361,
 'etern': 1527,
 'fortunetel': 1755,
 'monster': 3010,
 'daughter': 1129,
 'texa': 4472,
 'ranger': 3602,
 'chase': 773,
 'outlaw': 3255,
 'led': 2609,
 'ambush': 189,
 'survivor': 4389,
 'american': 191,
 'indian': 2221,
 'nurs': 3185,
 'health': 2021,
 'don': 1316,
 'mask': 2838,
 'ride': 3755,
 'silver': 4084,
 'team': 4434,
 'bring': 594,
 'justice': 2474,
 'western': 4880,
 'partner': 3306,
 'lawyer': 2598,
 'train': 4582,
 'young': 4978,
 'boy': 562,
 'extraordinari': 1589,
 'power': 3456,
 'thi': 4486,
 'journey': 2453,
 'came': 660,
 'sent': 3995,
 'emerg': 1452,
 'save': 3910,
 'symbol': 4410,
 'hope': 2112,
 'superhuman': 4360,
 'alieninvas': 158,
 'reboot': 3636,
 'amyadam': 204,
 'michaelshannon': 2928,
 'incred': 2216,
 'lion': 2665,
 'luci': 2739,
 'susan': 4391,
 'narnia': 3088,
 'aid': 133,
 'princ': 3496,
 'threaten': 4501,
 'evil': 1550,
 'king': 2531,
 'help': 2046,
 'color': 912,
 'cast': 712,
 'characters': 763,
 'clan': 857,
 'embark': 1449,
 'quest': 3566,
 'ensur': 1496,
 'right': 3761,
 'heir': 2036,
 'fictionalplac': 1675,
 'brothersisterrelationship': 613,
 'matteroflifeanddeath': 2857,
 'faith': 1607,
 'uncl': 4653,
 'fantasyworld': 1631,
 'enemi': 1479,
 'safeti': 3872,
 'nick': 3145,
 'director': 1267,
 'intern': 2268,
 'agenc': 124,
 'need': 3110,
 'pull': 3550,
 'disaster': 1275,
 'span': 4200,
 'globe': 1876,
 'dare': 1121,
 'recruit': 3649,
 'effort': 1418,
 'begins': 452,
 'newyork': 3141,
 'shield': 4053,
 'chrisevan': 811,
 'cross': 1070,
 'path': 3315,
 'sure': 4375,
 'ruthless': 3860,
 'artist': 312,
 'use': 4717,
 'fabl': 1596,
 'youth': 4984,
 'aboard': 61,
 'queen': 3563,
 'anne': 238,
 'revenge': 3738,
 'formid': 1750,
 'doesn': 1309,
 'know': 2544,
 'sea': 3947,
 'mutini': 3075,
 'sword': 4405,
 'sail': 3876,
 'duke': 1374,
 'mermaid': 2906,
 'penélopecruz': 3343,
 'agent': 127,
 'smith': 4140,
 'tommi': 4543,
 'lee': 2610,
 'time': 4520,
 'seen': 3981,
 '15': 8,
 'men': 2895,
 'black': 513,
 'aliens': 161,
 'stake': 4239,
 'travel': 4593,
 'univers': 4683,
 'told': 4538,
 'themselv': 4483,
 'josh': 2447,
 'agency': 125,
 'humankind': 2149,
 'comedi': 920,
 'timetravel': 4523,
 'willsmith': 4908,
 'tommyleejon': 4544,
 'joshbrolin': 2448,
 'barrysonnenfeld': 406,
 'immedi': 2196,
 'event': 1540,
 'desol': 1216,
 'dwarv': 1382,
 'defend': 1179,
 'mountain': 3043,
 'treasur': 4595,
 'claim': 853,
 'ruin': 3842,
 'elv': 1447,
 'meanwhil': 2873,
 'armi': 296,
 'orc': 3233,
 'march': 2800,
 'fuel': 1798,
 'rise': 3768,
 'middle': 2939,
 'fall': 1610,
 'corrupt': 1011,
 'hobbit': 2086,
 'dragon': 1337,
 'unlikelyfriendship': 4690,
 'swordandsorceri': 4406,
 'martinfreeman': 2831,
 'ianmckellen': 2167,
 'peterjackson': 3360,
 'outcast': 3253,
 'high': 2058,
 'parent': 3291,
 'leav': 2608,
 'rais': 3594,
 'ben': 460,
 'aunt': 351,
 'like': 2656,
 'teenagers': 4445,
 'figur': 1681,
 'got': 1893,
 'person': 3353,
 'today': 4533,
 'belong': 458,
 'father': 1643,
 'understand': 4665,
 'parents': 3292,
 'disappear': 1272,
 'lead': 2603,
 'lab': 2563,
 'dr': 1334,
 'collis': 908,
 'cours': 1028,
 'choic': 803,
 'destini': 1221,
 'lossoffath': 2711,
 'emmaston': 1461,
 'robin': 3791,
 'happen': 1981,
 'die': 1251,
 'robert': 3783,
 'promis': 3524,
 'identity': 2175,
 'widow': 4891,
 'draw': 1340,
 'town': 4567,
 'sheriff': 4050,
 'archer': 286,
 'middleag': 2940,
 'mediev': 2881,
 'russellcrow': 3856,
 'cateblanchett': 718,
 'ridleyscott': 3758,
 'success': 4339,
 'mountains': 3044,
 'gain': 1816,
 'ring': 3764,
 'gold': 1881,
 'wizard': 4924,
 'shock': 4057,
 'orphan': 3244,
 'trade': 4573,
 'carefre': 691,
 'exist': 1566,
 'roam': 3777,
 'hall': 1966,
 'jordan': 2444,
 'colleg': 905,
 'otherworldli': 3250,
 'north': 3168,
 'unawar': 4651,
 'destiny': 1222,
 'england': 1486,
 'experi': 1575,
 'basedonyoungadultnovel': 419,
 'nicolekidman': 3149,
 'chrisweitz': 834,
 'york': 4976,
 'ambiti': 187,
 'movi': 3048,
 'produc': 3512,
 'hire': 2076,
 'crew': 1057,
 'skull': 4118,
 'island': 2299,
 'kong': 2547,
 'giant': 1865,
 'ape': 268,
 'smitten': 4141,
 'screenplay': 3942,
 'filmmak': 1686,
 'filmproduc': 1687,
 'dinosaur': 1263,
 'naomiwatt': 3086,
 'jackblack': 2310,
 'adrienbrodi': 100,
 'rose': 3829,
 'tell': 4454,
 'stori': 4290,
 'lizzi': 2678,
 'lewi': 2636,
 'bobbi': 536,
 'april': 280,
 'titan': 4530,
 'board': 532,
 'depart': 1201,
 'upper': 4707,
 'class': 860,
 'passeng': 3311,
 'mother': 3033,
 'ruth': 3859,
 'fiancé': 1673,
 'drifter': 1349,
 'best': 474,
 'friend': 1787,
 'win': 4910,
 'game': 1821,
 'explain': 1580,
 'voyag': 4808,
 '20': 36,
 'panic': 3283,
 'disast': 1274,
 'classdiffer': 861,
 'starcrossedlov': 4246,
 '1910': 16,
 'katewinslet': 2487,
 'leonardodicaprio': 2625,
 'age': 122,
 'collect': 903,
 'govern': 1897,
 'pass': 3310,
 'act': 78,
 'design': 1213,
 'polar': 3420,
 'caus': 726,
 'faction': 1601,
 'iron': 2297,
 'america': 190,
 'civilwar': 852,
 'scarlettjohansson': 3920,
 'beam': 430,
 'radio': 3586,
 'signal': 4079,
 'form': 1749,
 'sever': 4021,
 'craft': 1042,
 'water': 4854,
 'hawaii': 2015,
 'lieuten': 2644,
 'alex': 150,
 'hopper': 2115,
 'weapon': 4861,
 'offic': 3204,
 'assign': 326,
 'paul': 3324,
 'engag': 1484,
 'unimagin': 4679,
 'strength': 4305,
 'live': 2674,
 'potenti': 3451,
 'brother': 610,
 'admir': 95,
 'shane': 4036,
 'expect': 1572,
 'navi': 3100,
 'hongkong': 2106,
 'soccer': 4151,
 'scientist': 3932,
 'peterberg': 3359,
 'park': 3297,
 'featur': 1653,
 'fulli': 1801,
 'theme': 4482,
 'origin': 3241,
 'dna': 1302,
 'suspens': 4394,
 'amusementpark': 202,
 'animalattack': 230,
 'animalhorror': 231,
 'grave': 1913,
 'wrong': 4965,
 'attack': 338,
 'reloc': 3680,
 'author': 355,
 'posit': 3445,
 'challeng': 746,
 'intellig': 2263,
 'secur': 3975,
 'insid': 2247,
 'alli': 166,
 'trust': 4620,
 'shadow': 4030,
 'onli': 3221,
 'field': 1676,
 'eve': 1539,
 'lethal': 2632,
 'hidden': 2055,
 'motiv': 3038,
 'sociopath': 4155,
 'killer': 2525,
 'judidench': 2459,
 'javierbardem': 2350,
 'major': 2771,
 'ident': 2174,
 'crisis': 1066,
 'burn': 640,
 'decid': 1170,
 'suffer': 4345,
 'wake': 4819,
 'doc': 1303,
 'feel': 1657,
 'mari': 2802,
 'jane': 2338,
 'girl': 1868,
 'sinc': 4094,
 'childhood': 789,
 'doctor': 1304,
 'supervillain': 4368,
 'apart': 265,
 'start': 4250,
 'odyssey': 3202,
 'rebuild': 3637,
 'malibu': 2780,
 'gwynethpaltrow': 1957,
 'doncheadl': 1319,
 'alice': 156,
 'individu': 2224,
 '19': 15,
 'english': 1487,
 'party': 3309,
 'crowd': 1072,
 'consid': 975,
 'marriag': 2816,
 'hole': 2089,
 'garden': 1830,
 'spot': 4227,
 'unusu': 4702,
 'rabbit': 3573,
 'arriv': 305,
 'strang': 4297,
 'surreal': 4383,
 'place': 3395,
 'nightmar': 3155,
 'child': 786,
 'talk': 4419,
 'animals': 232,
 'alic': 155,
 'reason': 3630,
 'conquer': 971,
 'horrif': 2118,
 'restor': 3722,
 'throne': 4504,
 'annehathaway': 239,
 'timburton': 4519,
 'cure': 1090,
 'treat': 4597,
 'line': 2662,
 'drawn': 1341,
 'band': 389,
 'mutant': 3073,
 'beast': 433,
 'hughjackman': 2145,
 'halleberri': 1967,
 'brettratn': 583,
 'relationship': 3671,
 'mike': 2947,
 'dure': 1377,
 'friends': 1789,
 'bestfriend': 475,
 'scari': 3919,
 'billycryst': 501,
 'johngoodman': 2418,
 'stevebuscemi': 4269,
 'sam': 3883,
 'normal': 3166,
 'mind': 2959,
 'target': 4425,
 'drag': 1336,
 'egypt': 1421,
 'sun': 4355,
 'chao': 757,
 'artifact': 309,
 'transform': 4586,
 'tank': 4422,
 'robot': 3795,
 'shialabeouf': 4052,
 'michaelbay': 2921,
 'pick': 3379,
 'vanish': 4735,
 'group': 1933,
 'businessman': 644,
 'push': 3560,
 'boundari': 556,
 'technolog': 4437,
 'control': 992,
 'ancient': 210,
 'menac': 2896,
 'markwahlberg': 2812,
 'oscar': 3247,
 'small': 4136,
 'tim': 4517,
 'circu': 844,
 'whisk': 4886,
 'kansa': 2477,
 'land': 2573,
 'oz': 3267,
 'inhabit': 2236,
 'great': 1914,
 'clutch': 887,
 'illus': 2189,
 'lost': 2717,
 'milakuni': 2950,
 'rachelweisz': 3581,
 'bad': 379,
 'guy': 1953,
 'spend': 4212,
 'loves': 2731,
 'school': 3926,
 'graduat': 1904,
 'stay': 4255,
 'clue': 885,
 'obsess': 3189,
 'jamiefoxx': 2335,
 'tech': 4436,
 'son': 4172,
 'kevin': 2504,
 'investig': 2284,
 'dictat': 1248,
 'real': 3622,
 'artificialintellig': 311,
 'dystopia': 1390,
 'comput': 949,
 'decept': 1169,
 'duel': 1373,
 'motorcycl': 3041,
 'jeffbridg': 2360,
 'oliviawild': 3216,
 'star': 4245,
 'race': 3574,
 'car': 684,
 'lightn': 2654,
 'pal': 3278,
 'compet': 941,
 'grand': 1905,
 'road': 3774,
 'championship': 749,
 'rocki': 3800,
 'intrigu': 2277,
 'carrac': 701,
 'anthropomorph': 255,
 'owenwilson': 3263,
 'centuries': 739,
 'warrior': 4843,
 'green': 1921,
 'corp': 1007,
 'intergalact': 2267,
 'wear': 4863,
 'grant': 1910,
 'destroy': 1223,
 'balanc': 383,
 'universe': 4684,
 'lie': 2643,
 'hand': 1971,
 'ryanreynold': 3864,
 'petersarsgaard': 3361,
 'martincampbel': 2830,
 'buzz': 651,
 'andy': 218,
 'toy': 4569,
 'haven': 2013,
 'play': 3404,
 'andi': 214,
 'college': 906,
 'accident': 69,
 'nefari': 3111,
 'care': 689,
 'center': 735,
 'togeth': 4536,
 'home': 2094,
 'toycomestolif': 4570,
 'tomhank': 4541,
 'timallen': 4518,
 'grown': 1937,
 'post': 3448,
 'apocalypt': 271,
 'connor': 970,
 'resist': 3710,
 'increasingli': 2215,
 'domin': 1315,
 'marcu': 2801,
 'wright': 4961,
 'confus': 964,
 'foe': 1725,
 'propheci': 3529,
 'sanfrancisco': 3897,
 'cyborg': 1099,
 'killerrobot': 2526,
 'gasstat': 1837,
 'losangel': 2704,
 'antonyelchin': 262,
 'shaw': 4046,
 'seek': 3979,
 'speed': 4209,
 'vindiesel': 4781,
 'paulwalk': 3332,
 'dwaynejohnson': 1383,
 'jameswan': 2331,
 'unit': 4682,
 'nation': 3094,
 'lane': 2575,
 'content': 987,
 'plagu': 3396,
 'infect': 2231,
 'turn': 4626,
 'popul': 3435,
 'rampag': 3598,
 'zombies': 4996,
 'bare': 399,
 'chaos': 758,
 'persuad': 3354,
 'disease': 1280,
 'peril': 3348,
 'trek': 4600,
 'brave': 571,
 'odd': 3199,
 'answer': 249,
 'befor': 448,
 'civil': 850,
 'horror': 2120,
 'apocalyps': 269,
 'zombi': 4995,
 'bradpitt': 566,
 'speci': 4204,
 'period': 3349,
 'join': 2433,
 'younger': 4981,
 'future': 1808,
 '1970': 25,
 'storm': 4292,
 'jamesmcavoy': 2330,
 'michaelfassbend': 2924,
 'enterpris': 1499,
 'unstopp': 4700,
 'everyth': 1548,
 'stand': 4243,
 'state': 4251,
 'score': 3933,
 'kirk': 2534,
 'manhunt': 2787,
 'captur': 682,
 'mass': 2840,
 'destruction': 1226,
 'friendship': 1790,
 'sacrific': 3867,
 'spacecraft': 4193,
 'spaceopera': 4196,
 'chrispin': 814,
 'unwittingli': 4705,
 'open': 3224,
 'fearsom': 1652,
 'unleash': 4687,
 'strive': 4314,
 'reclaim': 3641,
 'onc': 3220,
 'people': 3345,
 'thought': 4498,
 'legend': 2616,
 'chanc': 750,
 'ewanmcgregor': 1553,
 'adapt': 91,
 'scott': 3935,
 'novel': 3175,
 'lure': 2746,
 'lavish': 2594,
 'neighbor': 3113,
 'jay': 2351,
 'crack': 1041,
 'rich': 3745,
 'existence': 1567,
 'obsession': 3190,
 'madness': 2759,
 'tragedi': 4578,
 'await': 362,
 'infidel': 2232,
 'careymulligan': 693,
 'rogu': 3805,
 'capabl': 676,
 'releas': 3674,
 'gift': 1866,
 'rule': 3843,
 'basedonvideogam': 418,
 'jakegyllenha': 2320,
 'benkingsley': 469,
 'mikenewel': 2949,
 'legion': 2619,
 'monstrou': 3012,
 'creatures': 1054,
 'began': 450,
 'consum': 982,
 'humanity': 2148,
 'resourc': 3714,
 'end': 1475,
 'combat': 915,
 'special': 4205,
 ...}

# 7. Vectors are ready. Now find the cosine similarity between words.

In [63]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_similarity(vectors)

array([[1.        , 0.08346223, 0.0860309 , ..., 0.04499213, 0.        ,
        0.        ],
       [0.08346223, 1.        , 0.06063391, ..., 0.02378257, 0.        ,
        0.02615329],
       [0.0860309 , 0.06063391, 1.        , ..., 0.02451452, 0.        ,
        0.        ],
       ...,
       [0.04499213, 0.02378257, 0.02451452, ..., 1.        , 0.03962144,
        0.04229549],
       [0.        , 0.        , 0.        , ..., 0.03962144, 1.        ,
        0.08714204],
       [0.        , 0.02615329, 0.        , ..., 0.04229549, 0.08714204,
        1.        ]])

In [64]:
similarity = cosine_similarity(vectors)

In [65]:
similarity.shape

(4806, 4806)

In [66]:
similarity[0]

array([1.        , 0.08346223, 0.0860309 , ..., 0.04499213, 0.        ,
       0.        ])

In [67]:
similarity[0].shape

(4806,)

## 8. Well, done with making "cosine similarities". Now its time to make a custom function, that will return you most similar 5 movie names.

In [68]:
sorted(list(enumerate(similarity[0])), reverse=True, key=lambda x:x[1])[1:6]

[(1216, 0.2867696673382022),
 (2409, 0.26901379342448517),
 (3730, 0.2605130246476754),
 (507, 0.255608593705383),
 (539, 0.25038669783359574)]

In [69]:
# We will find the index of the given movie name
new_df[new_df['title'] == 'Batman Begins']

,movie_id,title,tag
119,272,Batman Begins,"driven by tragedy, billionair bruce wayn dedic..."

In [70]:
# So, 119 is the name of my Batman Begins movie index.
new_df[new_df['title'] == 'Batman Begins'].index[0]

119

## 9. The recommend function takes a movie title as input, finds the 5 most similar movies based on a similarity matrix, and prints their titles.

In [71]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:6]
    
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [72]:
recommend('Batman Begins')

The Dark Knight
Batman
Batman
The Dark Knight Rises
10th & Wolf

In [73]:
recommend('Avatar')

Aliens vs Predator: Requiem
Aliens
Falcon Rising
Independence Day
Titan A.E.

## 10. Make 2 pkl files while 1 .pkl file will contain movies and another will contain similarity values.

In [74]:
import pickle

In [75]:
pickle.dump(new_df, open('movies.pkl','wb'))

In [76]:
new_df['title'].values

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
       'My Date with Drew'], dtype=object)

In [77]:
pickle.dump(similarity, open('similarity.pkl','wb'))

# End: Finally, these 2 .pkl files will be used to develop the StreamLit web application. Thank You.